<body>

    <h1>add Country</h1>

    <form action="/addCountry" method="POST">
        <label>code:</label><br>

        <input type="text" name="co_code"><br>

        <label>Name:</label><br>

        <input type="text" name="co_name"><br><br>

        <label>details:</label><br>

        <textarea name="co_details" rows="4" cols="50">

            </textarea>

        <br><br>

        <input type="submit" value="Submit">
    </form>

</body>