<body>

    <h1>add Head of State</h1>

    <form action="/addHeadOfState" method="POST">
        <label>Country</label><br>

        <input type="text" name="_id"><br>

        <label>Name:</label><br>

        <input type="text" name="headOfState"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>