<body>

    <h1>update Country</h1>

    <form action="/updateCountry" method="POST">
        <label>Country</label><br>

        <input type="text" name="co_code"><br>

        <label>Name:</label><br>

        <input type="text" name="co_name"><br><br>

        <label>Details:</label><br>

        <input type="text" name="co_details"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>